body{
    background-image: url(../Imagens/ParedePreta.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    color: aqua;
    text-align: center;
    font-family: Verdana;
    font-size: 15pt;
}
p{
    color: aquamarine;
    text-align: center;
    font-family: Verdana; 
    font-size: 12pt;
}
footer{
    text-align: center;
}
a{
    color: chartreuse;
}